* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #2f2235;
}

.main-content {
  max-width: 36em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 4em;
}

.c {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2235;
}

.footer {
  display: flex;
  height: 4vh;
  padding: 1em;
  margin-top: -1em;
  background-color: #2f2235;
}

.flex-c-1 {
  display: flex;
  flex-direction: column;
}

.flex-c-1 > h1, .flex-c-1 > p {
  font-family: 'Magra', sans-serif;
  color: #9a738f;
}

.flex-c-r {
  display: flex;
  flex-direction: row;
  padding-right: 1em;
  padding-bottom: 1em;
  justify-content: center;
}

.flex-c-r > h1 {
  font-family: 'Magra', sans-serif;
  font-size: 40px;
  color: #d3acc8;
  align-self: flex-end;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.flex-c-r > h1:hover {
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pfp {
  height: 90px;
  width: 90px;
  vertical-align: middle;
  margin-right: 1em;
  border-radius: 50%;
}

.flex-c-1 > p {
  font-size: 24px;
  font-family: 'Capriola', sans-serif;
  text-align: center;
}

.main-content > h1, .main-content > p {
  font-family: 'Magra', sans-serif;
  color: #9a738f;
}

.main-content > h1 {
  font-size: 48px;
}

.main-content > p {
  font-size: 24px;
  font-family: 'Capriola', sans-serif;
}

.bits {
  color: #d3acc8;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bits:hover {
  transform: scale(1.05);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.senpaiismine {
  color: #d3acc8;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.senpaiismine:hover {
  transform: scale(0.95);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.flex-c-button {
  margin-top: 3em;
  padding-bottom: 8em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-c-button > a {
  margin: 0.5em
}

.invite {
  background-color: #434EE4;
  color: #BFC3BA;
  width: 128px;
  height: 48px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: 'Magra', sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
  transform: scale(1.00);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.invite:hover {
  transform: scale(1.05);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.code {
  background-color: #60495A;
  color: #d3acc8;
  width: 180px;
  height: 48px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: 'Magra', sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
  transform: scale(1.00);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.code > svg {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.code:hover {
  transform: scale(1.05);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.copyright {
  display: flex;
  padding-left: 0.5em;
  margin-right: auto;
  align-items: center;
}

.copyright > p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  color:#554350;
}

.copyright > p > a {
  color:#554350;
}

.copyright > p > a:visited {
  color:#554350;
}

.links {
  display: flex;
  justify-content: end;
  align-items: center;
  vertical-align: middle;
}

.links > a {
  text-decoration: none;
  color: #d3acc8;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transform: scale(1.00);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.links > a:hover {
  color: #BFC3BA;
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}